# configuracao da IDE
.idea/
.vscode/
*.iml

# arquivos de configuracao para ambiente local
src/config/app.properties

# arquivos de configuracao das dependencias
composer.phar
composer.lock

# diretorio de bibliotecas
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
